<%= javascript_include_tag "spree/frontend/paystack_checkout" %>

<div
  id="paystack_checkout_payload"
  class="hidden"
  data-paymentgateway='<%=SolidusPaystack::PaymentMethod.first.id%>'
  data-current_order_id='<%=current_order.number%>'
  data-billing_email='<%=current_order.email%>'
  data-secret='<%=SolidusPaystack::PaymentMethod.first.preferred_private_api_key%>'
  data-currency='<%=SolidusPaystack::PaymentMethod.first.preferred_currency%>'
  data-order_total='<%=current_order.total %>'></div>

<script src="https://js.paystack.co/v2/inline.js"></script>